html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  color: #090809;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 2rem;
}

#home-icon-container {
  display: flex;
}

#home-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 0.75rem;
}

#home-icon-text-container {
  display: flex;
  align-items: center;
  border-left: 2px solid #090809;
}

#home-icon-text {
  color: #090809;
  font-size: 2rem;
  padding-left: 0.75rem;
}

li {
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #090809;
}

.shop-overall-container {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* row-gap: 0.25rem; */
  /* column-gap: 0.25rem; */
}

.shop-thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: clip;
  width: 300px;
  height: 400px;
}

.image-container {
  overflow: clip;
  width: 300px;
  height: 300px;
}

.shop-thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info-container {
  text-align: center;
  padding-top: 0.75rem;
}
