html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font: 18px sans-serif, Helvetica, Arial;
  color: #090809;
}

.App {
  display: flex;
  flex-direction: column;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #ec042c;
  color: white;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 1rem;
  z-index: 10;
}

.content-container {
  margin-bottom: 2rem;
}

#home-icon-container {
  display: flex;
}

#home-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 0.75rem;
}

#home-icon-text-container {
  display: flex;
  align-items: center;
  border-left: 2px solid white;
}

#home-icon-text {
  color: white;
  font-size: 2rem;
  padding-left: 0.75rem;
}

li {
  display: flex;
  color: white;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.about-links:visited {
  color: #090809;
}

.shop-overall-container {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  margin-bottom: 1rem;
}

.shop-thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: clip;
  width: 300px;
  height: 400px;
  border: 0.125rem solid #090809;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: #f5f3f5;
}

.image-container {
  overflow: clip;
  width: 300px;
  height: 300px;
}

.shop-thumbnail-img,
.cart-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info-container {
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 0.75rem;
  color: #090809;
  font-size: 1rem;
}

#home-container {
  display: flex;
  justify-content: center;
}

#met-facade {
  width: 600px;
  height: auto;
}

#cart-counter {
  position: absolute;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  top: 0.4rem;
  right: 1.25rem;
}

.cart-thumbnail-container {
  overflow: clip;
  width: 150px;
  height: 150px;
}

#filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-btn {
  margin: 0 0.5rem;
}

/* BEGIN ITEM DETAILS CSS */
#item-details-container {
  align-self: center;
  width: 1250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    "details image"
    "addToCart addToCart";
}

h4 {
  font-weight: 500;
}

#item-details-info-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

#item-details-info {
  line-height: 2rem;
}

.linkToMet,
.linkToMet:visited {
  color: #848484;
}

.linkToMet:hover {
  text-decoration: underline;
}

#object-details-header {
  text-align: center;
  font-size: 1.5rem;
}

#add-item-container {
  display: flex;
  width: 100%;
  grid-area: addToCart;
  justify-content: space-around;
  margin-top: 1.5rem;
}

#back-container {
  width: 5rem;
  /* width: auto; */
}

#back-to-shop {
  color: black;
  font-weight: 600;
}

/* BEGIN ADDTOCART CSS */
.add-item-form {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
  row-gap: 0.5rem;
}

#frame-alert-container {
  height: 1rem;
  font-size: 1rem;
  color: #ec042c;
  font-weight: 600;
}

.radio-framing input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-framing label {
  display: inline-block;
  background-color: #f5f3f5;
  padding: 0.5rem 1rem;
  font-family: sans-serif, Arial;
  font-size: 1rem;
  border: 2px solid #444;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.radio-framing label:hover {
  background-color: #fbc7d0;
}

.radio-framing input[type="radio"]:focus + label {
  border: 2px solid #444;
}

.radio-framing input[type="radio"]:checked + label {
  background-color: #f03c5b;
  border-color: #444;
  color: white;
}

#quantity-container {
  position: relative;
}

.quantity-label {
  font-size: 1rem;
  margin-right: 1rem;
}

#quantityInput {
  font-size: 1rem;
  width: 3.5rem;
}

#quantityInput:invalid + span:after {
  position: absolute;
  content: "✖";
  padding-left: 0.5rem;
}

.add-btn,
button {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  background-color: #090809;
  color: white;
  font-weight: 500;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.add-btn:hover,
button:hover {
  background-color: #ec042c;
}

/* BEGIN VIEWCART CSS */
.view-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.item-in-cart-container {
  display: flex;
  height: 150px;
  align-items: center;
  column-gap: 1rem;
}

.view-cart-details-container,
.view-cart-edit-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.view-cart-details-container {
  height: 100%;
  width: 20rem;
  justify-content: center;
}

.view-cart-edit-container {
  height: 50%;
  width: 8rem;
}

.remove-item {
  font-size: 1rem;
}

#view-cart-total {
  display: flex;
  padding: 0 0.5rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

#cart-total-container {
  width: 630px;
  border-top: 0.25rem solid black;
  padding-top: 0.25rem;
  text-align: right;
}

#cart-total {
  padding-right: 0.5rem;
}

#viewCart-back-container {
  width: auto;
  margin-top: 0.25rem;
}

/* BEGIN SHOP CSS */
.filter-btn {
  font-size: 1rem;
}

.filter-selected {
  background-color: #ec042c;
}

#filter-container {
  margin-bottom: 1rem;
}

#filter-desc {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* BEGIN ABOUT CSS */
#about-container {
  display: flex;
  padding: 0 2rem;
}

#about-info-container {
  flex: 1;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: justify;
  padding-right: 2rem;
}

#about-img-container {
  flex: 1;
}

#about-img {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
}

#text-logo {
  font-weight: bolder;
  height: 1rem;
}

/* BEGIN FOOTER CSS */
footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  height: 2rem;
  background-color: #ec042c;
  color: white;
}

.footer-icon {
  fill: white;
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.footer-icon:hover {
  fill: black;
}

.footer-svg-link {
  height: 1.5rem;
  text-decoration: none;
}

#footer-svg-link:visited {
  color: white;
}
