body {
  font-size: 18px;
  color: #090809;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 2rem;
}

#home-icon-container {
  display: flex;
}

#home-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 0.75rem;
}

#home-icon-text-container {
  display: flex;
  align-items: center;
  border-left: 2px solid #090809;
}

#home-icon-text {
  color: #090809;
  font-size: 2rem;
  padding-left: 0.75rem;
}

li {
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: #090809;
}
